<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A basic implementation of Stellarium RemoteControl plugin interface with FastAPI.">
    <meta name="author" content="Danilo César">
    <title>Stellarium RemoteControl + FastAPI</title>
</head>
<body>
    <h1>Stellarium RemoteControl + FastAPI</h1>

    <form id="object_form">
        <label for="astro_name">Object:</label>
        <input type="text" id="astro_name" name="astro_name" placeholder="Moon" />
        <button type="submit">Submit</button>

        <button type="button" id="stop-btn" disabled>Stop</button>
    </form>

    <hr />
    <h2>Results</h2>
    <p>
        Other names:
        <span id="other_data"></span>
    </p>
    <p>
        Last update:
        <span id="timestamp"></span>
        <span style="color: gray; font-style: italic;">&nbsp;(refreshing in <span id="countdown">0s</span>)</span>
    </p>

    <hr />
    <pre id="result"></pre>

    <script type="text/javascript" src="/static/app.js"></script>
</body>
</html>
